<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pl.airboss.crm.res.dao.ResSelpriceModeBeanMapper" >
  <resultMap id="BaseResultMap" type="com.pl.airboss.crm.res.bean.ResSelpriceModeBean" >
    <id column="RES_SPEC_ID" property="resSpecId" jdbcType="BIGINT" />
    <id column="PATTERN_ID" property="patternId" jdbcType="BIGINT" />
    <id column="REGION_ID" property="regionId" jdbcType="VARCHAR" />
    <result column="MODE_DESC" property="modeDesc" jdbcType="VARCHAR" />
    <result column="IS_USED" property="isUsed" jdbcType="BIGINT" />
    <result column="RESERVE_FEE" property="reserveFee" jdbcType="BIGINT" />
    <result column="POINTS" property="points" jdbcType="BIGINT" />
    <result column="ORDER_FEE" property="orderFee" jdbcType="BIGINT" />
    <result column="ORDER_DAYS" property="orderDays" jdbcType="BIGINT" />
    <result column="CHOOSE_LEVEL" property="chooseLevel" jdbcType="BIGINT" />
    <result column="COUNTY_ID" property="countyId" jdbcType="VARCHAR" />
    <result column="DONE_CODE" property="doneCode" jdbcType="BIGINT" />
    <result column="DONE_DATE" property="doneDate" jdbcType="TIMESTAMP" />
    <result column="EFFECTIVE_DATE" property="effectiveDate" jdbcType="TIMESTAMP" />
    <result column="EXPIRE_DATE" property="expireDate" jdbcType="TIMESTAMP" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="OP_ID" property="opId" jdbcType="BIGINT" />
    <result column="ORG_ID" property="orgId" jdbcType="BIGINT" />
    <result column="NOTES" property="notes" jdbcType="VARCHAR" />
    <result column="PRESENT_MONTH" property="presentMonth" jdbcType="BIGINT" />
    <result column="DEPOSIT_MONTH" property="depositMonth" jdbcType="BIGINT" />
    <result column="DEPOSIT_AMOUNT" property="depositAmount" jdbcType="BIGINT" />
    <result column="PATTERN_NAME" property="patternName" jdbcType="VARCHAR" />
    <result column="IFEE_TYPE" property="ifeeType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    RES_SPEC_ID, PATTERN_ID, REGION_ID, MODE_DESC, IS_USED, RESERVE_FEE, POINTS, ORDER_FEE, 
    ORDER_DAYS, CHOOSE_LEVEL, COUNTY_ID, DONE_CODE, DONE_DATE, EFFECTIVE_DATE, EXPIRE_DATE, 
    CREATE_DATE, OP_ID, ORG_ID, NOTES, PRESENT_MONTH, DEPOSIT_MONTH, DEPOSIT_AMOUNT, 
    PATTERN_NAME, IFEE_TYPE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from res_selprice_mode
    where RES_SPEC_ID = #{resSpecId,jdbcType=BIGINT}
  </select>
  <!--<select id="selectList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from res_selprice_mode
    order by CREATE_DATE
  </select>-->

  <select id="selectList" resultMap="BaseResultMap" parameterType="com.pl.airboss.crm.res.bean.ResSelpriceModeBean">
    select
    <include refid="Base_Column_List" />
    from res_selprice_mode
    where 1=1
    <if test="modeDesc != null and modeDesc!=''" >
      and MODE_DESC = #{modeDesc}
    </if>
   <!-- <if test="netId != null and netId!=''" >
      and NET_ID = #{netId}
    </if>
    <if test="segExp != null and segExp!=''" >
      and SEG_EXP = #{segExp}
    </if>
    <if test="state != null and state!=''" >
      and STATE = #{state}
    </if>-->
  </select>

  <select id="checkPatternPriceNameUnique" resultType="Boolean">
    select count(0) from res_selprice_mode where MODE_DESC=#{modeDesc}
    <if test="resSpecId != null and resSpecId !=0">
      and RES_SPEC_ID !=#{resSpecId,jdbcType=BIGINT}
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from res_selprice_mode
    where RES_SPEC_ID = #{resSpecId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pl.airboss.crm.res.bean.ResSelpriceModeBean" >
    insert into res_selprice_mode (RES_SPEC_ID, PATTERN_ID, REGION_ID, 
      MODE_DESC, IS_USED, RESERVE_FEE, 
      POINTS, ORDER_FEE, ORDER_DAYS, 
      CHOOSE_LEVEL, COUNTY_ID, DONE_CODE, 
      DONE_DATE, EFFECTIVE_DATE, EXPIRE_DATE, 
      CREATE_DATE, OP_ID, ORG_ID, 
      NOTES, PRESENT_MONTH, DEPOSIT_MONTH, 
      DEPOSIT_AMOUNT, PATTERN_NAME, IFEE_TYPE
      )
    values (#{resSpecId,jdbcType=BIGINT}, #{patternId,jdbcType=BIGINT}, #{regionId,jdbcType=VARCHAR}, 
      #{modeDesc,jdbcType=VARCHAR}, #{isUsed,jdbcType=BIGINT}, #{reserveFee,jdbcType=BIGINT}, 
      #{points,jdbcType=BIGINT}, #{orderFee,jdbcType=BIGINT}, #{orderDays,jdbcType=BIGINT}, 
      #{chooseLevel,jdbcType=BIGINT}, #{countyId,jdbcType=VARCHAR}, #{doneCode,jdbcType=BIGINT}, 
      #{doneDate,jdbcType=TIMESTAMP}, #{effectiveDate,jdbcType=TIMESTAMP}, #{expireDate,jdbcType=TIMESTAMP}, 
      #{createDate,jdbcType=TIMESTAMP}, #{opId,jdbcType=BIGINT}, #{orgId,jdbcType=BIGINT}, 
      #{notes,jdbcType=VARCHAR}, #{presentMonth,jdbcType=BIGINT}, #{depositMonth,jdbcType=BIGINT}, 
      #{depositAmount,jdbcType=BIGINT}, #{patternName,jdbcType=VARCHAR}, #{ifeeType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pl.airboss.crm.res.bean.ResSelpriceModeBean" >
    insert into res_selprice_mode
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resSpecId != null" >
        RES_SPEC_ID,
      </if>
      <if test="patternId != null" >
        PATTERN_ID,
      </if>
      <if test="regionId != null" >
        REGION_ID,
      </if>
      <if test="modeDesc != null" >
        MODE_DESC,
      </if>
      <if test="isUsed != null" >
        IS_USED,
      </if>
      <if test="reserveFee != null" >
        RESERVE_FEE,
      </if>
      <if test="points != null" >
        POINTS,
      </if>
      <if test="orderFee != null" >
        ORDER_FEE,
      </if>
      <if test="orderDays != null" >
        ORDER_DAYS,
      </if>
      <if test="chooseLevel != null" >
        CHOOSE_LEVEL,
      </if>
      <if test="countyId != null" >
        COUNTY_ID,
      </if>
      <if test="doneCode != null" >
        DONE_CODE,
      </if>
      <if test="doneDate != null" >
        DONE_DATE,
      </if>
      <if test="effectiveDate != null" >
        EFFECTIVE_DATE,
      </if>
      <if test="expireDate != null" >
        EXPIRE_DATE,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="opId != null" >
        OP_ID,
      </if>
      <if test="orgId != null" >
        ORG_ID,
      </if>
      <if test="notes != null" >
        NOTES,
      </if>
      <if test="presentMonth != null" >
        PRESENT_MONTH,
      </if>
      <if test="depositMonth != null" >
        DEPOSIT_MONTH,
      </if>
      <if test="depositAmount != null" >
        DEPOSIT_AMOUNT,
      </if>
      <if test="patternName != null" >
        PATTERN_NAME,
      </if>
      <if test="ifeeType != null" >
        IFEE_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resSpecId != null" >
        #{resSpecId,jdbcType=BIGINT},
      </if>
      <if test="patternId != null" >
        #{patternId,jdbcType=BIGINT},
      </if>
      <if test="regionId != null" >
        #{regionId,jdbcType=VARCHAR},
      </if>
      <if test="modeDesc != null" >
        #{modeDesc,jdbcType=VARCHAR},
      </if>
      <if test="isUsed != null" >
        #{isUsed,jdbcType=BIGINT},
      </if>
      <if test="reserveFee != null" >
        #{reserveFee,jdbcType=BIGINT},
      </if>
      <if test="points != null" >
        #{points,jdbcType=BIGINT},
      </if>
      <if test="orderFee != null" >
        #{orderFee,jdbcType=BIGINT},
      </if>
      <if test="orderDays != null" >
        #{orderDays,jdbcType=BIGINT},
      </if>
      <if test="chooseLevel != null" >
        #{chooseLevel,jdbcType=BIGINT},
      </if>
      <if test="countyId != null" >
        #{countyId,jdbcType=VARCHAR},
      </if>
      <if test="doneCode != null" >
        #{doneCode,jdbcType=BIGINT},
      </if>
      <if test="doneDate != null" >
        #{doneDate,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveDate != null" >
        #{effectiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expireDate != null" >
        #{expireDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="opId != null" >
        #{opId,jdbcType=BIGINT},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=BIGINT},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="presentMonth != null" >
        #{presentMonth,jdbcType=BIGINT},
      </if>
      <if test="depositMonth != null" >
        #{depositMonth,jdbcType=BIGINT},
      </if>
      <if test="depositAmount != null" >
        #{depositAmount,jdbcType=BIGINT},
      </if>
      <if test="patternName != null" >
        #{patternName,jdbcType=VARCHAR},
      </if>
      <if test="ifeeType != null" >
        #{ifeeType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pl.airboss.crm.res.bean.ResSelpriceModeBean" >
    update res_selprice_mode
    <set >
      <if test="modeDesc != null" >
        MODE_DESC = #{modeDesc,jdbcType=VARCHAR},
      </if>
      <if test="isUsed != null" >
        IS_USED = #{isUsed,jdbcType=BIGINT},
      </if>
      <if test="reserveFee != null" >
        RESERVE_FEE = #{reserveFee,jdbcType=BIGINT},
      </if>
      <if test="points != null" >
        POINTS = #{points,jdbcType=BIGINT},
      </if>
      <if test="orderFee != null" >
        ORDER_FEE = #{orderFee,jdbcType=BIGINT},
      </if>
      <if test="orderDays != null" >
        ORDER_DAYS = #{orderDays,jdbcType=BIGINT},
      </if>
      <if test="chooseLevel != null" >
        CHOOSE_LEVEL = #{chooseLevel,jdbcType=BIGINT},
      </if>
      <if test="countyId != null" >
        COUNTY_ID = #{countyId,jdbcType=VARCHAR},
      </if>
      <if test="doneCode != null" >
        DONE_CODE = #{doneCode,jdbcType=BIGINT},
      </if>
      <if test="doneDate != null" >
        DONE_DATE = #{doneDate,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveDate != null" >
        EFFECTIVE_DATE = #{effectiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expireDate != null" >
        EXPIRE_DATE = #{expireDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="opId != null" >
        OP_ID = #{opId,jdbcType=BIGINT},
      </if>
      <if test="orgId != null" >
        ORG_ID = #{orgId,jdbcType=BIGINT},
      </if>
      <if test="notes != null" >
        NOTES = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="presentMonth != null" >
        PRESENT_MONTH = #{presentMonth,jdbcType=BIGINT},
      </if>
      <if test="depositMonth != null" >
        DEPOSIT_MONTH = #{depositMonth,jdbcType=BIGINT},
      </if>
      <if test="depositAmount != null" >
        DEPOSIT_AMOUNT = #{depositAmount,jdbcType=BIGINT},
      </if>
      <if test="patternName != null" >
        PATTERN_NAME = #{patternName,jdbcType=VARCHAR},
      </if>
      <if test="ifeeType != null" >
        IFEE_TYPE = #{ifeeType,jdbcType=VARCHAR},
      </if>
    </set>
    where RES_SPEC_ID = #{resSpecId,jdbcType=BIGINT}
    <!--and PATTERN_ID = #{patternId,jdbcType=BIGINT}
   and REGION_ID = #{regionId,jdbcType=VARCHAR} -->
</update>
<update id="updateByPrimaryKey" parameterType="com.pl.airboss.crm.res.bean.ResSelpriceModeBean" >
 update res_selprice_mode
 set MODE_DESC = #{modeDesc,jdbcType=VARCHAR},
   IS_USED = #{isUsed,jdbcType=BIGINT},
   RESERVE_FEE = #{reserveFee,jdbcType=BIGINT},
   POINTS = #{points,jdbcType=BIGINT},
   ORDER_FEE = #{orderFee,jdbcType=BIGINT},
   ORDER_DAYS = #{orderDays,jdbcType=BIGINT},
   CHOOSE_LEVEL = #{chooseLevel,jdbcType=BIGINT},
   COUNTY_ID = #{countyId,jdbcType=VARCHAR},
   DONE_CODE = #{doneCode,jdbcType=BIGINT},
   DONE_DATE = #{doneDate,jdbcType=TIMESTAMP},
   EFFECTIVE_DATE = #{effectiveDate,jdbcType=TIMESTAMP},
   EXPIRE_DATE = #{expireDate,jdbcType=TIMESTAMP},
   CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
   OP_ID = #{opId,jdbcType=BIGINT},
   ORG_ID = #{orgId,jdbcType=BIGINT},
   NOTES = #{notes,jdbcType=VARCHAR},
   PRESENT_MONTH = #{presentMonth,jdbcType=BIGINT},
   DEPOSIT_MONTH = #{depositMonth,jdbcType=BIGINT},
   DEPOSIT_AMOUNT = #{depositAmount,jdbcType=BIGINT},
   PATTERN_NAME = #{patternName,jdbcType=VARCHAR},
   IFEE_TYPE = #{ifeeType,jdbcType=VARCHAR}
 where RES_SPEC_ID = #{resSpecId,jdbcType=BIGINT}
   and PATTERN_ID = #{patternId,jdbcType=BIGINT}
   and REGION_ID = #{regionId,jdbcType=VARCHAR}
</update>
</mapper>