<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pl.airboss.web.dao.SecLoginOnlineBeanMapper" >
  <resultMap id="BaseResultMap" type="com.pl.airboss.web.bean.SecLoginOnlineBean" >
    <id column="SESSION_ID" property="sessionId" jdbcType="VARCHAR" />
    <result column="LOGIN_CODE" property="loginCode" jdbcType="VARCHAR" />
    <result column="IP_ADDRESS" property="ipAddress" jdbcType="VARCHAR" />
    <result column="LOGIN_LOCATION" property="loginLocation" jdbcType="VARCHAR" />
    <result column="BROWSER" property="browser" jdbcType="VARCHAR" />
    <result column="OS" property="os" jdbcType="VARCHAR" />
    <result column="LOGIN_DATE" property="loginDate" jdbcType="TIMESTAMP" />
    <result column="LAST_ACCESS_DATE" property="lastAccessDate" jdbcType="TIMESTAMP" />
    <result column="EXPIREE_TIME" property="expireeTime" jdbcType="INTEGER" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SESSION_ID, LOGIN_CODE, IP_ADDRESS, LOGIN_LOCATION, BROWSER, OS, LOGIN_DATE, LAST_ACCESS_DATE, 
    EXPIREE_TIME, STATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pl.airboss.web.bean.SecLoginOnlineBeanExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from sec_login_online
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sec_login_online
    where SESSION_ID = #{sessionId,jdbcType=VARCHAR}
  </select>
  <select id="selectList" resultMap="BaseResultMap" parameterType="com.pl.airboss.web.bean.SecLoginOnlineBean">
    select SESSION_ID, LOGIN_CODE, IP_ADDRESS, LOGIN_LOCATION, BROWSER, OS, LOGIN_DATE, LAST_ACCESS_DATE,EXPIREE_TIME, STATE
    from sec_login_online
    <where>
      <if test="loginCode !=null and loginCode !=''">
        login_code=#{loginCode}
      </if>
      <if test="ipAddress !=null and ipAddress !=''">
        IP_ADDRESS=#{ipAddress}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sec_login_online
    where SESSION_ID = #{sessionId,jdbcType=VARCHAR}
  </delete>
  <delete id="batchDeleteOnline" parameterType="java.util.List">
    delete from sec_login_online
    where SESSION_ID in (#{sessions})
  </delete>
  <insert id="insert" parameterType="com.pl.airboss.web.bean.SecLoginOnlineBean" >
    insert into sec_login_online (SESSION_ID, LOGIN_CODE, IP_ADDRESS,
      LOGIN_LOCATION, BROWSER, OS, 
      LOGIN_DATE, LAST_ACCESS_DATE, EXPIREE_TIME, 
      STATE)
    values (#{sessionId,jdbcType=VARCHAR}, #{loginCode,jdbcType=VARCHAR}, #{ipAddress,jdbcType=VARCHAR}, 
      #{loginLocation,jdbcType=VARCHAR}, #{browser,jdbcType=VARCHAR}, #{os,jdbcType=VARCHAR}, 
      #{loginDate,jdbcType=TIMESTAMP}, #{lastAccessDate,jdbcType=TIMESTAMP}, #{expireeTime,jdbcType=INTEGER}, 
      #{state,jdbcType=VARCHAR})
  </insert>
  <insert id="save" parameterType="com.pl.airboss.web.bean.SecLoginOnlineBean">
    replace into sec_login_online(SESSION_ID, LOGIN_CODE, IP_ADDRESS, login_location, browser, os, STATE, LOGIN_DATE, LAST_ACCESS_DATE, expiree_time)
    values (#{sessionId}, #{loginCode}, #{ipAddress}, #{loginLocation}, #{browser}, #{os}, #{state}, #{loginDate}, #{lastAccessDate}, #{expireeTime})
  </insert>
  <insert id="insertSelective" parameterType="com.pl.airboss.web.bean.SecLoginOnlineBean" >
    insert into sec_login_online
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sessionId != null" >
        SESSION_ID,
      </if>
      <if test="loginCode != null" >
        LOGIN_CODE,
      </if>
      <if test="ipAddress != null" >
        IP_ADDRESS,
      </if>
      <if test="loginLocation != null" >
        LOGIN_LOCATION,
      </if>
      <if test="browser != null" >
        BROWSER,
      </if>
      <if test="os != null" >
        OS,
      </if>
      <if test="loginDate != null" >
        LOGIN_DATE,
      </if>
      <if test="lastAccessDate != null" >
        LAST_ACCESS_DATE,
      </if>
      <if test="expireeTime != null" >
        EXPIREE_TIME,
      </if>
      <if test="state != null" >
        STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sessionId != null" >
        #{sessionId,jdbcType=VARCHAR},
      </if>
      <if test="loginCode != null" >
        #{loginCode,jdbcType=VARCHAR},
      </if>
      <if test="ipAddress != null" >
        #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="loginLocation != null" >
        #{loginLocation,jdbcType=VARCHAR},
      </if>
      <if test="browser != null" >
        #{browser,jdbcType=VARCHAR},
      </if>
      <if test="os != null" >
        #{os,jdbcType=VARCHAR},
      </if>
      <if test="loginDate != null" >
        #{loginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastAccessDate != null" >
        #{lastAccessDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expireeTime != null" >
        #{expireeTime,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pl.airboss.web.bean.SecLoginOnlineBean" >
    update sec_login_online
    <set >
      <if test="loginCode != null" >
        LOGIN_CODE = #{loginCode,jdbcType=VARCHAR},
      </if>
      <if test="ipAddress != null" >
        IP_ADDRESS = #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="loginLocation != null" >
        LOGIN_LOCATION = #{loginLocation,jdbcType=VARCHAR},
      </if>
      <if test="browser != null" >
        BROWSER = #{browser,jdbcType=VARCHAR},
      </if>
      <if test="os != null" >
        OS = #{os,jdbcType=VARCHAR},
      </if>
      <if test="loginDate != null" >
        LOGIN_DATE = #{loginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastAccessDate != null" >
        LAST_ACCESS_DATE = #{lastAccessDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expireeTime != null" >
        EXPIREE_TIME = #{expireeTime,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where SESSION_ID = #{sessionId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pl.airboss.web.bean.SecLoginOnlineBean" >
    update sec_login_online
    set LOGIN_CODE = #{loginCode,jdbcType=VARCHAR},
      IP_ADDRESS = #{ipAddress,jdbcType=VARCHAR},
      LOGIN_LOCATION = #{loginLocation,jdbcType=VARCHAR},
      BROWSER = #{browser,jdbcType=VARCHAR},
      OS = #{os,jdbcType=VARCHAR},
      LOGIN_DATE = #{loginDate,jdbcType=TIMESTAMP},
      LAST_ACCESS_DATE = #{lastAccessDate,jdbcType=TIMESTAMP},
      EXPIREE_TIME = #{expireeTime,jdbcType=INTEGER},
      STATE = #{state,jdbcType=VARCHAR}
    where SESSION_ID = #{sessionId,jdbcType=VARCHAR}
  </update>
  <insert id="saveOnline" parameterType="com.pl.airboss.web.bean.SecLoginOnlineBean">
    replace into sec_login_online(SESSION_ID, LOGIN_CODE, IP_ADDRESS, login_location, browser, os, state, LOGIN_DATE, last_access_date, EXPIREE_TIME)
    values (#{sessionId}, #{loginCode}, #{ipAddress}, #{loginLocation}, #{browser}, #{os}, #{state}, #{loginDate}, #{lastAccessDate}, #{expireeTime})
  </insert>
  <sql id="selectOnlineVo">
    select SESSION_ID, LOGIN_CODE, IP_ADDRESS, LOGIN_LOCATION, BROWSER, OS, LOGIN_DATE, LAST_ACCESS_DATE,
    EXPIREE_TIME, STATE
    from sec_login_online
  </sql>
  <select id="selectOnlineByExpired" parameterType="java.util.Date" resultMap="BaseResultMap">
    <include refid="selectOnlineVo"/> o
    WHERE o.LAST_ACCESS_DATE <![CDATA[ <= ]]> #{lastAccessTime} ORDER BY o.LAST_ACCESS_DATE ASC
  </select>
</mapper>