<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pl.airboss.web.dao.SecOpLogBeanMapper" >
  <resultMap id="BaseResultMap" type="com.pl.airboss.web.bean.SecOpLogBean" >
    <id column="REC_ID" property="recId" jdbcType="INTEGER" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="BUSINESS_TYPE" property="businessType" jdbcType="VARCHAR" />
    <result column="METHOD" property="method" jdbcType="VARCHAR" />
    <result column="REQUEST_METHOD" property="requestMethod" jdbcType="VARCHAR" />
    <result column="OPERATOR_TYPE" property="operatorType" jdbcType="VARCHAR" />
    <result column="OPER_NAME" property="operName" jdbcType="VARCHAR" />
    <result column="OPER_URL" property="operUrl" jdbcType="VARCHAR" />
    <result column="OPER_IP" property="operIp" jdbcType="VARCHAR" />
    <result column="OPER_PARAM" property="operParam" jdbcType="VARCHAR" />
    <result column="JSON_RESULT" property="jsonResult" jdbcType="VARCHAR" />
    <result column="ERROR_MSG" property="errorMsg" jdbcType="VARCHAR" />
    <result column="OPER_LOCATION" property="operLocation" jdbcType="VARCHAR" />
    <result column="DONE_DATE" property="doneDate" jdbcType="TIMESTAMP" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    REC_ID, TITLE, BUSINESS_TYPE, METHOD, REQUEST_METHOD, OPERATOR_TYPE, OPER_NAME, OPER_URL, 
    OPER_IP, OPER_PARAM, JSON_RESULT, ERROR_MSG, OPER_LOCATION, DONE_DATE, REMARK, STATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from [sec_op_log(doneDate)]
    where REC_ID = #{recId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey">
    delete from [sec_op_log(doneDate)]
    where REC_ID = #{recId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" >
    insert into [sec_op_log(doneDate)] (REC_ID, TITLE, BUSINESS_TYPE,
      METHOD, REQUEST_METHOD, OPERATOR_TYPE, 
      OPER_NAME, OPER_URL, OPER_IP, 
      OPER_PARAM, JSON_RESULT, ERROR_MSG, 
      OPER_LOCATION, DONE_DATE, REMARK,
      STATUS)
    values (#{recId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{businessType,jdbcType=VARCHAR},
      #{method,jdbcType=VARCHAR}, #{requestMethod,jdbcType=VARCHAR}, #{operatorType,jdbcType=VARCHAR},
      #{operName,jdbcType=VARCHAR}, #{operUrl,jdbcType=VARCHAR}, #{operIp,jdbcType=VARCHAR},
      #{operParam,jdbcType=VARCHAR}, #{jsonResult,jdbcType=VARCHAR}, #{errorMsg,jdbcType=VARCHAR},
      #{operLocation,jdbcType=VARCHAR}, #{doneDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR},
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pl.airboss.web.bean.SecOpLogBean" >
    insert into [sec_op_log(doneDate)]
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recId != null" >
        REC_ID,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="businessType != null" >
        BUSINESS_TYPE,
      </if>
      <if test="method != null" >
        METHOD,
      </if>
      <if test="requestMethod != null" >
        REQUEST_METHOD,
      </if>
      <if test="operatorType != null" >
        OPERATOR_TYPE,
      </if>
      <if test="operName != null" >
        OPER_NAME,
      </if>
      <if test="operUrl != null" >
        OPER_URL,
      </if>
      <if test="operIp != null" >
        OPER_IP,
      </if>
      <if test="operParam != null" >
        OPER_PARAM,
      </if>
      <if test="jsonResult != null" >
        JSON_RESULT,
      </if>
      <if test="errorMsg != null" >
        ERROR_MSG,
      </if>
      <if test="operLocation != null" >
        OPER_LOCATION,
      </if>
      <if test="doneDate != null" >
        DONE_DATE,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recId != null" >
        #{recId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null" >
        #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="requestMethod != null" >
        #{requestMethod,jdbcType=VARCHAR},
      </if>
      <if test="operatorType != null" >
        #{operatorType,jdbcType=VARCHAR},
      </if>
      <if test="operName != null" >
        #{operName,jdbcType=VARCHAR},
      </if>
      <if test="operUrl != null" >
        #{operUrl,jdbcType=VARCHAR},
      </if>
      <if test="operIp != null" >
        #{operIp,jdbcType=VARCHAR},
      </if>
      <if test="operParam != null" >
        #{operParam,jdbcType=VARCHAR},
      </if>
      <if test="jsonResult != null" >
        #{jsonResult,jdbcType=VARCHAR},
      </if>
      <if test="errorMsg != null" >
        #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="operLocation != null" >
        #{operLocation,jdbcType=VARCHAR},
      </if>
      <if test="doneDate != null" >
        #{doneDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pl.airboss.web.bean.SecOpLogBean" >
    update [sec_op_log(doneDate)]
    <set >
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null" >
        BUSINESS_TYPE = #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        METHOD = #{method,jdbcType=VARCHAR},
      </if>
      <if test="requestMethod != null" >
        REQUEST_METHOD = #{requestMethod,jdbcType=VARCHAR},
      </if>
      <if test="operatorType != null" >
        OPERATOR_TYPE = #{operatorType,jdbcType=VARCHAR},
      </if>
      <if test="operName != null" >
        OPER_NAME = #{operName,jdbcType=VARCHAR},
      </if>
      <if test="operUrl != null" >
        OPER_URL = #{operUrl,jdbcType=VARCHAR},
      </if>
      <if test="operIp != null" >
        OPER_IP = #{operIp,jdbcType=VARCHAR},
      </if>
      <if test="operParam != null" >
        OPER_PARAM = #{operParam,jdbcType=VARCHAR},
      </if>
      <if test="jsonResult != null" >
        JSON_RESULT = #{jsonResult,jdbcType=VARCHAR},
      </if>
      <if test="errorMsg != null" >
        ERROR_MSG = #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="operLocation != null" >
        OPER_LOCATION = #{operLocation,jdbcType=VARCHAR},
      </if>
      <if test="doneDate != null" >
        DONE_DATE = #{doneDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where REC_ID = #{recId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pl.airboss.web.bean.SecOpLogBean" >
    update [sec_op_log(doneDate)]
    set TITLE = #{title,jdbcType=VARCHAR},
      BUSINESS_TYPE = #{businessType,jdbcType=VARCHAR},
      METHOD = #{method,jdbcType=VARCHAR},
      REQUEST_METHOD = #{requestMethod,jdbcType=VARCHAR},
      OPERATOR_TYPE = #{operatorType,jdbcType=VARCHAR},
      OPER_NAME = #{operName,jdbcType=VARCHAR},
      OPER_URL = #{operUrl,jdbcType=VARCHAR},
      OPER_IP = #{operIp,jdbcType=VARCHAR},
      OPER_PARAM = #{operParam,jdbcType=VARCHAR},
      JSON_RESULT = #{jsonResult,jdbcType=VARCHAR},
      ERROR_MSG = #{errorMsg,jdbcType=VARCHAR},
      OPER_LOCATION = #{operLocation,jdbcType=VARCHAR},
      DONE_DATE = #{doneDate,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER}
    where REC_ID = #{recId,jdbcType=INTEGER}
  </update>
  <select id="selectOperLogList" parameterType="com.pl.airboss.web.bean.SecOpLogBean" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from [sec_op_log(doneDate)]
    <where>
      <if test="title != null and title != ''">
        AND title like concat('%', #{title}, '%')
      </if>
      <if test="businessType != null">
        AND business_type = #{businessType}
      </if>
      <if test="businessTypes != null and businessTypes.length > 0">
        AND business_type in
        <foreach collection="businessTypes" item="businessType" open="(" separator="," close=")">
          #{businessType}
        </foreach>
      </if>
      <if test="status != null">
        AND STATUS = #{status}
      </if>
      <if test="operName != null and operName != ''">
        AND oper_name like concat('%', #{operName}, '%')
      </if>
      <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
        and date_format(done_date,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
      </if>
      <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
        and date_format(done_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
      </if>
    </where>
  </select>

  <delete id="deleteOperLogByIds">
    delete from [sec_op_log(doneDate)] where rec_id in
    <foreach collection="array" item="operId" open="(" separator="," close=")">
      #{operId}
    </foreach>
  </delete>

</mapper>