<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('集团客户业务受理')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="data-form">
                <div class="select-list">
                    <ul>
                        <li>
                            客户名称：<input type="text" id="custName" name="custName"/>
                        </li>
                        <li>
                            证件类型：<select name="psptTypeCode" th:with="type=${@SysService.getType('pspt_type_code')}">
                            <option value="">--请选择--</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                        </select>
                        <li>
                            证件编码：<input type="text" id="psptId" name="psptId"/>
                        </li>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="searchCustomer()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="resetPre()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="addGroupCustomer()" shiro:hasPermission="customer:groupCustomer:add">
                <i class="fa fa-plus"></i> 新增客户
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="customer:groupCustomer:edit">
                <i class="fa fa-edit"></i> 编辑
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="customer:groupCustomer:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('customer:groupCustomer:edit')}]];
    var removeFlag = [[${@permission.hasPermi('customer:groupCustomer:remove')}]];
    var userManageFlag = [[${@permission.hasPermi('res:segPattern:num_generate')}]];
    var accountManageFlag = [[${@permission.hasPermi('res:segPattern:num_generate')}]];

    var datas = [[${@SysService.getType('sys_normal_disable')}]];
    var prefix = ctx + "crm/order";
    var groupTypes=[[${@SysService.getType('cust_group_type')}]];

    $(function () {
        var options = {
            url: prefix + "/queryGroupCustomer",
            createUrl: prefix + "/newGroupCustomer",
            updateUrl: prefix + "/editGroupCustomer/{id}",
            removeUrl: prefix + "/removeGroupCustomer",
            exportUrl: prefix + "/exportGroupCustomer",
            importUrl: prefix + "/importData",
            importTemplateUrl: prefix + "/importTemplate",
            // queryParams: queryParams,
            uniqueId: "custId",
            code: "custId",
            sortName: "partitionId",
            sortOrder: "desc",
            showPageGo: true,
            modalName: "客户",
            columns: [
                {
                checkbox: true
                },
                {
                    field: 'partitionId',
                    title: '编号',
                    visible: false
                },
                {
                    field: 'custId',
                    title: '客户ID'
                },
                {
                    field: 'groupId',
                    title: '集团ID',
                    visible: false
                },
                {
                    field: 'custName',
                    title: '集团名称'
                },
                {
                    field: 'groupType',
                    title: '集团类型',
                    //align: 'center',
                    formatter: function(value, item, index) {
                        return $.table.selectDictLabel(groupTypes, item.groupType);
                    }
                },
                {
                    field: 'email',
                    title: 'E-MAIL',
                },
                {
                    field: 'groupContactPhone',
                    title: '联系电话'
                },
                {
                    field: 'groupAddr',
                    title: '联系地址'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        /*actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.partitionId + '\')"><i class="fa fa-edit"></i>修改</a> ');*/
                        /*actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.partitionId + '\')"><i class="fa fa-remove"></i>删除</a> ');*/
                        actions.push('<a class="btn btn-info btn-xs ' + userManageFlag + '" href="javascript:void(0)" onclick="userManage(\'' + row.partitionId + '\', \'' + row.custId + '\')"><i class="fa fa-user"></i>用户</a> ');
                        actions.push('<a class="btn btn-warning btn-xs ' + accountManageFlag + '" href="javascript:void(0)" onclick="accountManage(\'' + row.partitionId + '\', \'' + row.custId + '\')"><i class="fa fa-list-ul"></i>账户</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });


    function searchCustomer() {
        debugger;
        let custName = $("input[name='custName']").val();
        let psptId = $("input[name='psptId']").val();//证件号
        var psptTypeCode = $("select[name='psptTypeCode']").val();//证件类型
        if ((custName==null || custName=='') && (psptId==null || psptId=='')) {
            $.modal.alertWarning("姓名或证件号必须输入其中一个！");
            return;
        }
        if ((psptTypeCode!=null && psptTypeCode!='') && (psptId==null || psptId=='')
           || (psptTypeCode==null && psptTypeCode=='') && (psptId!=null || psptId!='')) {
            $.modal.alertWarning("证件号和证件类型必须同时输入！");
            return;
        }

        $.table.search();
    }

    function userManage(partitionId,custId) {
        var url = prefix + '/groupUserManage/'+custId;///system/user/authRole/9  会去请求后台，groupUserManage.html页面
        $.modal.openTab("添加用户", url);
    }

    function userManage(partitionId,custId) {
        var url = prefix + '/groupAccoutManage/'+custId;
        $.modal.openTab("添加账户", url);
    }

    function addGroupCustomer() {
        /*var dictType = $("#dictType option:selected").val();
         alert(dictType);
         $.operate.add(dictType);*/
        $.operate.add("");//创建的url无需参数
    }


    function selectPricePattern(patternDefId) {
        debugger;

        var url = prefix + '/selectPricePattern/' + patternDefId;
        $.modal.open("选择资费", url);
        /*$.ajax({
            cache: true,
            type: "GET",
            url: prefix + "/generateNumBySegPattern/"+patternDefId,
            data: {
                //"recId": patternDefId
            },
            async: true,
            error: function (request) {
                $.modal.alertError("系统错误");
            },
            success: function (data) {
                $.operate.successCallback(data);
            }
        });*/
    }

    function resetPre() {
        $.form.reset();
    }
</script>
</body>

<!-- 导入区域 -->
<!--<script id="importTpl" type="text/template">
    <form enctype="multipart/form-data" class="mt20 mb10">
        <div class="col-xs-offset-1">
            <input type="file" id="file" name="file"/>
            <div class="mt10 pt5">
                <input type="checkbox" id="updateSupport" name="updateSupport" title="如果号码名称已经存在，更新这条数据。"> 是否更新已经存在的号码名称数据
                &nbsp;	<a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> 下载模板</a>
            </div>
            <font color="red" class="pull-left mt10">
                提示：仅允许导入“xls”或“xlsx”格式文件！
            </font>
        </div>
    </form>
</script>-->


</html>
