<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pl.airboss.crm.ac.dao.FeeCycleBeanMapper" >
  <resultMap id="BaseResultMap" type="com.pl.airboss.crm.ac.bean.FeeCycleBean" >
    <id column="CYCLE_RULE_ID" property="cycleRuleId" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CYCLE_TYPE" property="cycleType" jdbcType="CHAR" />
    <result column="CYCLE_NUM" property="cycleNum" jdbcType="DECIMAL" />
    <result column="DEFINE_TAG" property="defineTag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    CYCLE_RULE_ID, REMARK, CYCLE_TYPE, CYCLE_NUM, DEFINE_TAG
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from td_b_cyclerule
    where CYCLE_RULE_ID = #{cycleRuleId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from td_b_cyclerule
    where CYCLE_RULE_ID = #{cycleRuleId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.pl.airboss.crm.ac.bean.FeeCycleBean" >
    insert into td_b_cyclerule (CYCLE_RULE_ID, REMARK, CYCLE_TYPE, 
      CYCLE_NUM, DEFINE_TAG)
    values (#{cycleRuleId,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, #{cycleType,jdbcType=CHAR}, 
      #{cycleNum,jdbcType=DECIMAL}, #{defineTag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pl.airboss.crm.ac.bean.FeeCycleBean" >
    insert into td_b_cyclerule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cycleRuleId != null" >
        CYCLE_RULE_ID,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="cycleType != null" >
        CYCLE_TYPE,
      </if>
      <if test="cycleNum != null" >
        CYCLE_NUM,
      </if>
      <if test="defineTag != null" >
        DEFINE_TAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cycleRuleId != null" >
        #{cycleRuleId,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="cycleType != null" >
        #{cycleType,jdbcType=CHAR},
      </if>
      <if test="cycleNum != null" >
        #{cycleNum,jdbcType=DECIMAL},
      </if>
      <if test="defineTag != null" >
        #{defineTag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pl.airboss.crm.ac.bean.FeeCycleBean" >
    update td_b_cyclerule
    <set >
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="cycleType != null" >
        CYCLE_TYPE = #{cycleType,jdbcType=CHAR},
      </if>
      <if test="cycleNum != null" >
        CYCLE_NUM = #{cycleNum,jdbcType=DECIMAL},
      </if>
      <if test="defineTag != null" >
        DEFINE_TAG = #{defineTag,jdbcType=CHAR},
      </if>
    </set>
    where CYCLE_RULE_ID = #{cycleRuleId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pl.airboss.crm.ac.bean.FeeCycleBean" >
    update td_b_cyclerule
    set REMARK = #{remark,jdbcType=VARCHAR},
      CYCLE_TYPE = #{cycleType,jdbcType=CHAR},
      CYCLE_NUM = #{cycleNum,jdbcType=DECIMAL},
      DEFINE_TAG = #{defineTag,jdbcType=CHAR}
    where CYCLE_RULE_ID = #{cycleRuleId,jdbcType=DECIMAL}
  </update>
</mapper>