<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pl.airboss.crm.ac.dao.BillBeanMapper" >
  <resultMap id="BaseResultMap" type="com.pl.airboss.crm.ac.bean.BillBean" >
    <result column="EPARCHY_CODE" property="eparchyCode" jdbcType="CHAR" />
    <result column="NET_TYPE_CODE" property="netTypeCode" jdbcType="VARCHAR" />
    <result column="SERIAL_NUMBER" property="serialNumber" jdbcType="VARCHAR" />
    <result column="BILL_ID" property="billId" jdbcType="DECIMAL" />
    <result column="ACCT_ID" property="acctId" jdbcType="DECIMAL" />
    <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="PARTITION_ID" property="partitionId" jdbcType="INTEGER" />
    <result column="CYCLE_ID" property="cycleId" jdbcType="DECIMAL" />
    <result column="INTEGRATE_ITEM_CODE" property="integrateItemCode" jdbcType="DECIMAL" />
    <result column="FEE" property="fee" jdbcType="DECIMAL" />
    <result column="BALANCE" property="balance" jdbcType="DECIMAL" />
    <result column="PRINT_FEE" property="printFee" jdbcType="DECIMAL" />
    <result column="B_DISCNT" property="bDiscnt" jdbcType="DECIMAL" />
    <result column="A_DISCNT" property="aDiscnt" jdbcType="DECIMAL" />
    <result column="ADJUST_BEFORE" property="adjustBefore" jdbcType="DECIMAL" />
    <result column="ADJUST_AFTER" property="adjustAfter" jdbcType="DECIMAL" />
    <result column="LATE_FEE" property="lateFee" jdbcType="DECIMAL" />
    <result column="LATE_BALANCE" property="lateBalance" jdbcType="DECIMAL" />
    <result column="LATECAL_DATE" property="latecalDate" jdbcType="TIMESTAMP" />
    <result column="CANPAY_TAG" property="canpayTag" jdbcType="CHAR" />
    <result column="PAY_TAG" property="payTag" jdbcType="CHAR" />
    <result column="VERSION_NO" property="versionNo" jdbcType="DECIMAL" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DEPART_ID" property="updateDepartId" jdbcType="CHAR" />
    <result column="UPDATE_STAFF_ID" property="updateStaffId" jdbcType="CHAR" />
    <result column="CHARGE_ID" property="chargeId" jdbcType="DECIMAL" />
    <result column="WRITEOFF_FEE1" property="writeoffFee1" jdbcType="DECIMAL" />
    <result column="WRITEOFF_FEE2" property="writeoffFee2" jdbcType="DECIMAL" />
    <result column="WRITEOFF_FEE3" property="writeoffFee3" jdbcType="DECIMAL" />
    <result column="DRECV_FEE2" property="drecvFee2" jdbcType="DECIMAL" />
    <result column="RSRV_FEE1" property="rsrvFee1" jdbcType="DECIMAL" />
    <result column="RSRV_FEE2" property="rsrvFee2" jdbcType="DECIMAL" />
    <result column="RSRV_FEE3" property="rsrvFee3" jdbcType="DECIMAL" />
    <result column="RSRV_INFO1" property="rsrvInfo1" jdbcType="VARCHAR" />
    <result column="RSRV_INFO2" property="rsrvInfo2" jdbcType="VARCHAR" />
    <result column="USER_BEGIN_DATE" property="userBeginDate" jdbcType="DECIMAL" />
    <result column="USER_END_DATE" property="userEndDate" jdbcType="DECIMAL" />
    <result column="ACCT_BEGIN_DATE" property="acctBeginDate" jdbcType="DECIMAL" />
    <result column="ACCT_DAY" property="acctDay" jdbcType="DECIMAL" />
    <result column="NO_TAX_FEE" property="noTaxFee" jdbcType="DECIMAL" />
    <result column="TAX_FEE" property="taxFee" jdbcType="DECIMAL" />
    <result column="TAX_RATE" property="taxRate" jdbcType="DECIMAL" />
    <result column="MIX_ITEM_ID" property="mixItemId" jdbcType="DECIMAL" />
    <result column="NO_TAX_BALANCE" property="noTaxBalance" jdbcType="DECIMAL" />
    <result column="TAX_BALANCE" property="taxBalance" jdbcType="DECIMAL" />
    <result column="ROWID" property="rowid" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="com.pl.airboss.crm.ac.bean.BillBean" >
    insert into ts_b_bill (EPARCHY_CODE, NET_TYPE_CODE, SERIAL_NUMBER, 
      BILL_ID, ACCT_ID, USER_ID, 
      PARTITION_ID, CYCLE_ID, INTEGRATE_ITEM_CODE, 
      FEE, BALANCE, PRINT_FEE, 
      B_DISCNT, A_DISCNT, ADJUST_BEFORE, 
      ADJUST_AFTER, LATE_FEE, LATE_BALANCE, 
      LATECAL_DATE, CANPAY_TAG, PAY_TAG, 
      VERSION_NO, UPDATE_TIME, UPDATE_DEPART_ID, 
      UPDATE_STAFF_ID, CHARGE_ID, WRITEOFF_FEE1, 
      WRITEOFF_FEE2, WRITEOFF_FEE3, DRECV_FEE2, 
      RSRV_FEE1, RSRV_FEE2, RSRV_FEE3, 
      RSRV_INFO1, RSRV_INFO2, USER_BEGIN_DATE, 
      USER_END_DATE, ACCT_BEGIN_DATE, ACCT_DAY, 
      NO_TAX_FEE, TAX_FEE, TAX_RATE, 
      MIX_ITEM_ID, NO_TAX_BALANCE, TAX_BALANCE, 
      ROWID)
    values (#{eparchyCode,jdbcType=CHAR}, #{netTypeCode,jdbcType=VARCHAR}, #{serialNumber,jdbcType=VARCHAR}, 
      #{billId,jdbcType=DECIMAL}, #{acctId,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL}, 
      #{partitionId,jdbcType=INTEGER}, #{cycleId,jdbcType=DECIMAL}, #{integrateItemCode,jdbcType=DECIMAL}, 
      #{fee,jdbcType=DECIMAL}, #{balance,jdbcType=DECIMAL}, #{printFee,jdbcType=DECIMAL}, 
      #{bDiscnt,jdbcType=DECIMAL}, #{aDiscnt,jdbcType=DECIMAL}, #{adjustBefore,jdbcType=DECIMAL}, 
      #{adjustAfter,jdbcType=DECIMAL}, #{lateFee,jdbcType=DECIMAL}, #{lateBalance,jdbcType=DECIMAL}, 
      #{latecalDate,jdbcType=TIMESTAMP}, #{canpayTag,jdbcType=CHAR}, #{payTag,jdbcType=CHAR}, 
      #{versionNo,jdbcType=DECIMAL}, #{updateTime,jdbcType=TIMESTAMP}, #{updateDepartId,jdbcType=CHAR}, 
      #{updateStaffId,jdbcType=CHAR}, #{chargeId,jdbcType=DECIMAL}, #{writeoffFee1,jdbcType=DECIMAL}, 
      #{writeoffFee2,jdbcType=DECIMAL}, #{writeoffFee3,jdbcType=DECIMAL}, #{drecvFee2,jdbcType=DECIMAL}, 
      #{rsrvFee1,jdbcType=DECIMAL}, #{rsrvFee2,jdbcType=DECIMAL}, #{rsrvFee3,jdbcType=DECIMAL}, 
      #{rsrvInfo1,jdbcType=VARCHAR}, #{rsrvInfo2,jdbcType=VARCHAR}, #{userBeginDate,jdbcType=DECIMAL}, 
      #{userEndDate,jdbcType=DECIMAL}, #{acctBeginDate,jdbcType=DECIMAL}, #{acctDay,jdbcType=DECIMAL}, 
      #{noTaxFee,jdbcType=DECIMAL}, #{taxFee,jdbcType=DECIMAL}, #{taxRate,jdbcType=DECIMAL}, 
      #{mixItemId,jdbcType=DECIMAL}, #{noTaxBalance,jdbcType=DECIMAL}, #{taxBalance,jdbcType=DECIMAL}, 
      #{rowid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.pl.airboss.crm.ac.bean.BillBean" >
    insert into ts_b_bill
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="eparchyCode != null" >
        EPARCHY_CODE,
      </if>
      <if test="netTypeCode != null" >
        NET_TYPE_CODE,
      </if>
      <if test="serialNumber != null" >
        SERIAL_NUMBER,
      </if>
      <if test="billId != null" >
        BILL_ID,
      </if>
      <if test="acctId != null" >
        ACCT_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="partitionId != null" >
        PARTITION_ID,
      </if>
      <if test="cycleId != null" >
        CYCLE_ID,
      </if>
      <if test="integrateItemCode != null" >
        INTEGRATE_ITEM_CODE,
      </if>
      <if test="fee != null" >
        FEE,
      </if>
      <if test="balance != null" >
        BALANCE,
      </if>
      <if test="printFee != null" >
        PRINT_FEE,
      </if>
      <if test="bDiscnt != null" >
        B_DISCNT,
      </if>
      <if test="aDiscnt != null" >
        A_DISCNT,
      </if>
      <if test="adjustBefore != null" >
        ADJUST_BEFORE,
      </if>
      <if test="adjustAfter != null" >
        ADJUST_AFTER,
      </if>
      <if test="lateFee != null" >
        LATE_FEE,
      </if>
      <if test="lateBalance != null" >
        LATE_BALANCE,
      </if>
      <if test="latecalDate != null" >
        LATECAL_DATE,
      </if>
      <if test="canpayTag != null" >
        CANPAY_TAG,
      </if>
      <if test="payTag != null" >
        PAY_TAG,
      </if>
      <if test="versionNo != null" >
        VERSION_NO,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateDepartId != null" >
        UPDATE_DEPART_ID,
      </if>
      <if test="updateStaffId != null" >
        UPDATE_STAFF_ID,
      </if>
      <if test="chargeId != null" >
        CHARGE_ID,
      </if>
      <if test="writeoffFee1 != null" >
        WRITEOFF_FEE1,
      </if>
      <if test="writeoffFee2 != null" >
        WRITEOFF_FEE2,
      </if>
      <if test="writeoffFee3 != null" >
        WRITEOFF_FEE3,
      </if>
      <if test="drecvFee2 != null" >
        DRECV_FEE2,
      </if>
      <if test="rsrvFee1 != null" >
        RSRV_FEE1,
      </if>
      <if test="rsrvFee2 != null" >
        RSRV_FEE2,
      </if>
      <if test="rsrvFee3 != null" >
        RSRV_FEE3,
      </if>
      <if test="rsrvInfo1 != null" >
        RSRV_INFO1,
      </if>
      <if test="rsrvInfo2 != null" >
        RSRV_INFO2,
      </if>
      <if test="userBeginDate != null" >
        USER_BEGIN_DATE,
      </if>
      <if test="userEndDate != null" >
        USER_END_DATE,
      </if>
      <if test="acctBeginDate != null" >
        ACCT_BEGIN_DATE,
      </if>
      <if test="acctDay != null" >
        ACCT_DAY,
      </if>
      <if test="noTaxFee != null" >
        NO_TAX_FEE,
      </if>
      <if test="taxFee != null" >
        TAX_FEE,
      </if>
      <if test="taxRate != null" >
        TAX_RATE,
      </if>
      <if test="mixItemId != null" >
        MIX_ITEM_ID,
      </if>
      <if test="noTaxBalance != null" >
        NO_TAX_BALANCE,
      </if>
      <if test="taxBalance != null" >
        TAX_BALANCE,
      </if>
      <if test="rowid != null" >
        ROWID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="eparchyCode != null" >
        #{eparchyCode,jdbcType=CHAR},
      </if>
      <if test="netTypeCode != null" >
        #{netTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="serialNumber != null" >
        #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="billId != null" >
        #{billId,jdbcType=DECIMAL},
      </if>
      <if test="acctId != null" >
        #{acctId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="partitionId != null" >
        #{partitionId,jdbcType=INTEGER},
      </if>
      <if test="cycleId != null" >
        #{cycleId,jdbcType=DECIMAL},
      </if>
      <if test="integrateItemCode != null" >
        #{integrateItemCode,jdbcType=DECIMAL},
      </if>
      <if test="fee != null" >
        #{fee,jdbcType=DECIMAL},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="printFee != null" >
        #{printFee,jdbcType=DECIMAL},
      </if>
      <if test="bDiscnt != null" >
        #{bDiscnt,jdbcType=DECIMAL},
      </if>
      <if test="aDiscnt != null" >
        #{aDiscnt,jdbcType=DECIMAL},
      </if>
      <if test="adjustBefore != null" >
        #{adjustBefore,jdbcType=DECIMAL},
      </if>
      <if test="adjustAfter != null" >
        #{adjustAfter,jdbcType=DECIMAL},
      </if>
      <if test="lateFee != null" >
        #{lateFee,jdbcType=DECIMAL},
      </if>
      <if test="lateBalance != null" >
        #{lateBalance,jdbcType=DECIMAL},
      </if>
      <if test="latecalDate != null" >
        #{latecalDate,jdbcType=TIMESTAMP},
      </if>
      <if test="canpayTag != null" >
        #{canpayTag,jdbcType=CHAR},
      </if>
      <if test="payTag != null" >
        #{payTag,jdbcType=CHAR},
      </if>
      <if test="versionNo != null" >
        #{versionNo,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDepartId != null" >
        #{updateDepartId,jdbcType=CHAR},
      </if>
      <if test="updateStaffId != null" >
        #{updateStaffId,jdbcType=CHAR},
      </if>
      <if test="chargeId != null" >
        #{chargeId,jdbcType=DECIMAL},
      </if>
      <if test="writeoffFee1 != null" >
        #{writeoffFee1,jdbcType=DECIMAL},
      </if>
      <if test="writeoffFee2 != null" >
        #{writeoffFee2,jdbcType=DECIMAL},
      </if>
      <if test="writeoffFee3 != null" >
        #{writeoffFee3,jdbcType=DECIMAL},
      </if>
      <if test="drecvFee2 != null" >
        #{drecvFee2,jdbcType=DECIMAL},
      </if>
      <if test="rsrvFee1 != null" >
        #{rsrvFee1,jdbcType=DECIMAL},
      </if>
      <if test="rsrvFee2 != null" >
        #{rsrvFee2,jdbcType=DECIMAL},
      </if>
      <if test="rsrvFee3 != null" >
        #{rsrvFee3,jdbcType=DECIMAL},
      </if>
      <if test="rsrvInfo1 != null" >
        #{rsrvInfo1,jdbcType=VARCHAR},
      </if>
      <if test="rsrvInfo2 != null" >
        #{rsrvInfo2,jdbcType=VARCHAR},
      </if>
      <if test="userBeginDate != null" >
        #{userBeginDate,jdbcType=DECIMAL},
      </if>
      <if test="userEndDate != null" >
        #{userEndDate,jdbcType=DECIMAL},
      </if>
      <if test="acctBeginDate != null" >
        #{acctBeginDate,jdbcType=DECIMAL},
      </if>
      <if test="acctDay != null" >
        #{acctDay,jdbcType=DECIMAL},
      </if>
      <if test="noTaxFee != null" >
        #{noTaxFee,jdbcType=DECIMAL},
      </if>
      <if test="taxFee != null" >
        #{taxFee,jdbcType=DECIMAL},
      </if>
      <if test="taxRate != null" >
        #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="mixItemId != null" >
        #{mixItemId,jdbcType=DECIMAL},
      </if>
      <if test="noTaxBalance != null" >
        #{noTaxBalance,jdbcType=DECIMAL},
      </if>
      <if test="taxBalance != null" >
        #{taxBalance,jdbcType=DECIMAL},
      </if>
      <if test="rowid != null" >
        #{rowid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>