<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pl.airboss.crm.product.dao.FeePolicyBeanMapper" >
  <resultMap id="BaseResultMap" type="com.pl.airboss.crm.product.bean.FeePolicyBean" >
    <id column="SERV_ID" property="servId" jdbcType="DECIMAL" />
    <id column="BRAND_CODE" property="brandCode" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pl.airboss.crm.product.bean.FeePolicyBean" extends="BaseResultMap" >
    <result column="FEEPOLICY_EXPLAIN" property="feepolicyExplain" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    SERV_ID, BRAND_CODE
  </sql>
  <sql id="Blob_Column_List" >
    FEEPOLICY_EXPLAIN
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="com.pl.airboss.crm.product.bean.FeePolicyBeanKey" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from td_b_feepolicy_default
    where SERV_ID = #{servId,jdbcType=DECIMAL}
      and BRAND_CODE = #{brandCode,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pl.airboss.crm.product.bean.FeePolicyBeanKey" >
    delete from td_b_feepolicy_default
    where SERV_ID = #{servId,jdbcType=DECIMAL}
      and BRAND_CODE = #{brandCode,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.pl.airboss.crm.product.bean.FeePolicyBean" >
    insert into td_b_feepolicy_default (SERV_ID, BRAND_CODE, FEEPOLICY_EXPLAIN
      )
    values (#{servId,jdbcType=DECIMAL}, #{brandCode,jdbcType=CHAR}, #{feepolicyExplain,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pl.airboss.crm.product.bean.FeePolicyBean" >
    insert into td_b_feepolicy_default
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="servId != null" >
        SERV_ID,
      </if>
      <if test="brandCode != null" >
        BRAND_CODE,
      </if>
      <if test="feepolicyExplain != null" >
        FEEPOLICY_EXPLAIN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="servId != null" >
        #{servId,jdbcType=DECIMAL},
      </if>
      <if test="brandCode != null" >
        #{brandCode,jdbcType=CHAR},
      </if>
      <if test="feepolicyExplain != null" >
        #{feepolicyExplain,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pl.airboss.crm.product.bean.FeePolicyBean" >
    update td_b_feepolicy_default
    <set >
      <if test="feepolicyExplain != null" >
        FEEPOLICY_EXPLAIN = #{feepolicyExplain,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where SERV_ID = #{servId,jdbcType=DECIMAL}
      and BRAND_CODE = #{brandCode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pl.airboss.crm.product.bean.FeePolicyBean" >
    update td_b_feepolicy_default
    set FEEPOLICY_EXPLAIN = #{feepolicyExplain,jdbcType=LONGVARCHAR}
    where SERV_ID = #{servId,jdbcType=DECIMAL}
      and BRAND_CODE = #{brandCode,jdbcType=CHAR}
  </update>
</mapper>