<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pl.airboss.crm.cm.dao.CreditvalueBeanMapper" >
  <resultMap id="BaseResultMap" type="com.pl.airboss.crm.cm.bean.CreditvalueBean" >
    <result column="CREDIT_VALUE_ID" property="creditValueId" jdbcType="DECIMAL" />
    <result column="PARTITION_ID" property="partitionId" jdbcType="INTEGER" />
    <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="CREDIT_VALUE" property="creditValue" jdbcType="DECIMAL" />
    <result column="START_DATE" property="startDate" jdbcType="TIMESTAMP" />
    <result column="END_DATE" property="endDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.pl.airboss.crm.cm.bean.CreditvalueBean" >
    insert into tf_o_creditvalue (CREDIT_VALUE_ID, PARTITION_ID, USER_ID, 
      CREDIT_VALUE, START_DATE, END_DATE, 
      UPDATE_TIME)
    values (#{creditValueId,jdbcType=DECIMAL}, #{partitionId,jdbcType=INTEGER}, #{userId,jdbcType=DECIMAL}, 
      #{creditValue,jdbcType=DECIMAL}, #{startDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pl.airboss.crm.cm.bean.CreditvalueBean" >
    insert into tf_o_creditvalue
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="creditValueId != null" >
        CREDIT_VALUE_ID,
      </if>
      <if test="partitionId != null" >
        PARTITION_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="creditValue != null" >
        CREDIT_VALUE,
      </if>
      <if test="startDate != null" >
        START_DATE,
      </if>
      <if test="endDate != null" >
        END_DATE,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="creditValueId != null" >
        #{creditValueId,jdbcType=DECIMAL},
      </if>
      <if test="partitionId != null" >
        #{partitionId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="creditValue != null" >
        #{creditValue,jdbcType=DECIMAL},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>