<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pl.airboss.crm.cm.dao.UserServparamBeanMapper" >
  <resultMap id="BaseResultMap" type="com.pl.airboss.crm.cm.bean.UserServparamBean" >
    <id column="SERV_INS_ID" property="servInsId" jdbcType="DECIMAL" />
    <id column="SERV_PARAM_ID" property="servParamId" jdbcType="DECIMAL" />
    <id column="START_DATE" property="startDate" jdbcType="TIMESTAMP" />
    <result column="PARTITION_ID" property="partitionId" jdbcType="DECIMAL" />
    <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="SERV_ID" property="servId" jdbcType="DECIMAL" />
    <result column="SERV_PARAM_VALUE" property="servParamValue" jdbcType="VARCHAR" />
    <result column="END_DATE" property="endDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DEPART_ID" property="updateDepartId" jdbcType="CHAR" />
    <result column="UPDATE_STAFF_ID" property="updateStaffId" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    SERV_INS_ID, SERV_PARAM_ID, START_DATE, PARTITION_ID, USER_ID, SERV_ID, SERV_PARAM_VALUE, 
    END_DATE, UPDATE_TIME, UPDATE_DEPART_ID, UPDATE_STAFF_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.pl.airboss.crm.cm.bean.UserServparamBeanKey" >
    select 
    <include refid="Base_Column_List" />
    from tf_f_user_servparam
    where SERV_INS_ID = #{servInsId,jdbcType=DECIMAL}
      and SERV_PARAM_ID = #{servParamId,jdbcType=DECIMAL}
      and START_DATE = #{startDate,jdbcType=TIMESTAMP}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pl.airboss.crm.cm.bean.UserServparamBeanKey" >
    delete from tf_f_user_servparam
    where SERV_INS_ID = #{servInsId,jdbcType=DECIMAL}
      and SERV_PARAM_ID = #{servParamId,jdbcType=DECIMAL}
      and START_DATE = #{startDate,jdbcType=TIMESTAMP}
  </delete>
  <insert id="insert" parameterType="com.pl.airboss.crm.cm.bean.UserServparamBean" >
    insert into tf_f_user_servparam (SERV_INS_ID, SERV_PARAM_ID, START_DATE, 
      PARTITION_ID, USER_ID, SERV_ID, 
      SERV_PARAM_VALUE, END_DATE, UPDATE_TIME, 
      UPDATE_DEPART_ID, UPDATE_STAFF_ID)
    values (#{servInsId,jdbcType=DECIMAL}, #{servParamId,jdbcType=DECIMAL}, #{startDate,jdbcType=TIMESTAMP}, 
      #{partitionId,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL}, #{servId,jdbcType=DECIMAL}, 
      #{servParamValue,jdbcType=VARCHAR}, #{endDate,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateDepartId,jdbcType=CHAR}, #{updateStaffId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pl.airboss.crm.cm.bean.UserServparamBean" >
    insert into tf_f_user_servparam
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="servInsId != null" >
        SERV_INS_ID,
      </if>
      <if test="servParamId != null" >
        SERV_PARAM_ID,
      </if>
      <if test="startDate != null" >
        START_DATE,
      </if>
      <if test="partitionId != null" >
        PARTITION_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="servId != null" >
        SERV_ID,
      </if>
      <if test="servParamValue != null" >
        SERV_PARAM_VALUE,
      </if>
      <if test="endDate != null" >
        END_DATE,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateDepartId != null" >
        UPDATE_DEPART_ID,
      </if>
      <if test="updateStaffId != null" >
        UPDATE_STAFF_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="servInsId != null" >
        #{servInsId,jdbcType=DECIMAL},
      </if>
      <if test="servParamId != null" >
        #{servParamId,jdbcType=DECIMAL},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="partitionId != null" >
        #{partitionId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="servId != null" >
        #{servId,jdbcType=DECIMAL},
      </if>
      <if test="servParamValue != null" >
        #{servParamValue,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDepartId != null" >
        #{updateDepartId,jdbcType=CHAR},
      </if>
      <if test="updateStaffId != null" >
        #{updateStaffId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pl.airboss.crm.cm.bean.UserServparamBean" >
    update tf_f_user_servparam
    <set >
      <if test="partitionId != null" >
        PARTITION_ID = #{partitionId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="servId != null" >
        SERV_ID = #{servId,jdbcType=DECIMAL},
      </if>
      <if test="servParamValue != null" >
        SERV_PARAM_VALUE = #{servParamValue,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        END_DATE = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDepartId != null" >
        UPDATE_DEPART_ID = #{updateDepartId,jdbcType=CHAR},
      </if>
      <if test="updateStaffId != null" >
        UPDATE_STAFF_ID = #{updateStaffId,jdbcType=CHAR},
      </if>
    </set>
    where SERV_INS_ID = #{servInsId,jdbcType=DECIMAL}
      and SERV_PARAM_ID = #{servParamId,jdbcType=DECIMAL}
      and START_DATE = #{startDate,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pl.airboss.crm.cm.bean.UserServparamBean" >
    update tf_f_user_servparam
    set PARTITION_ID = #{partitionId,jdbcType=DECIMAL},
      USER_ID = #{userId,jdbcType=DECIMAL},
      SERV_ID = #{servId,jdbcType=DECIMAL},
      SERV_PARAM_VALUE = #{servParamValue,jdbcType=VARCHAR},
      END_DATE = #{endDate,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_DEPART_ID = #{updateDepartId,jdbcType=CHAR},
      UPDATE_STAFF_ID = #{updateStaffId,jdbcType=CHAR}
    where SERV_INS_ID = #{servInsId,jdbcType=DECIMAL}
      and SERV_PARAM_ID = #{servParamId,jdbcType=DECIMAL}
      and START_DATE = #{startDate,jdbcType=TIMESTAMP}
  </update>
</mapper>