<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('服务配置')"/>
    <th:block th:include="include :: bootstrap-select-css" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <div class="select-list">
                <ul>
                    <li>
                        服务编号：<input type="text" name="serviceId" style="background-color: #eee" readonly th:value="${bean.serviceId}"/>
                    </li>
                    <li>
                        服务名称：<input type="text" name="serviceName" style="background-color: #eee" readonly th:value="${bean.serviceName}"/>
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-sm-12 search-collapse" style="display: none;">
            <form id="data-form">
            <input type="hidden" id="serviceId" name="serviceId" th:value="${bean.serviceId}">
                <div class="select-list">
                    <ul>
                        <li>
                            服务名称：<input type="text" name="serviceName"/>
                        </li>
                        <li>
                            状态：<select name="serviceState" th:with="type=${@SysService.getType('sys_normal_disable')}">
                            <option value="">所有</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                        </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="resetPre()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="add()" shiro:hasPermission="product:serviceProperty:add">
                <i class="fa fa-plus"></i> 新增
            </a>
            <!-- <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="product:serviceProperty:edit">
                 <i class="fa fa-edit"></i> 编辑
             </a>
             <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="product:serviceProperty:remove">
                 <i class="fa fa-remove"></i> 删除
             </a>
             <a class="btn btn-info" onclick="$.table.importExcel()" shiro:hasPermission="product:serviceProperty:import">
                 <i class="fa fa-upload"></i> 导入
             </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="product:serviceProperty:export">
                <i class="fa fa-download"></i> 导出
            </a>-->
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-select-js" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('product:serviceProperty:edit')}]];
    var removeFlag = [[${@permission.hasPermi('product:serviceProperty:remove')}]];
    var numGenFlag = [[${@permission.hasPermi('product:segPattern:num_generate')}]];

    var datas = [[${@SysService.getType('sys_normal_disable')}]];
    var prefix = ctx + "crm/product";
    var intfModes=[[${@SysService.getType('intf_mode')}]];
    var netTypeCodes=[[${@SysService.getType('net_type_code')}]];
    var orderModes=[[${@SysService.getType('order_mode')}]];

    $(function () {
        var options = {
            url: prefix + "/listServiceProperties",
            createUrl: prefix + "/addServiceProperties/{serviceId}",
            updateUrl: prefix + "/editServiceProperty/{propertyId}",
            removeUrl: prefix + "/removeServiceProperty",
           // exportUrl: prefix + "/export",
          //  importUrl: prefix + "/importData",
          //  importTemplateUrl: prefix + "/importTemplate",
            queryParams: queryParams,
            sortName: "paramId",
            sortOrder: "desc",
            modalName: "属性",
            showPageGo: true,
            columns: [
                /* {
                 checkbox: true
             },*/
                {
                    field: 'paramId',
                    title: '属性编号'
                },
                {
                    field: 'paramName',
                    title: '属性名称'
                },
                {
                    field: 'paramCode',
                    title: '属性编码'
                },
                {
                    field: 'paramValue',
                    title: '属性值'
                },
                {
                    field: 'paramSelect',
                    title: '是否选择'
                },
                /*{
                    field: 'orderMode',
                    title: '订购模式',
                    align: "center",
                    formatter: function(value, item, index) {
                        return $.table.selectDictLabel(orderModes, item.orderMode);
                    }
                },*/
                /*{
                    field: 'startDate',
                    title: '生效时间',
                    visible: false
                },
                {
                    field: 'endDate',
                    title: '失效时间',
                    visible: false
                },*/
                /*{
                    field: 'serviceState',
                    title: '状态',
                    align: "center",
                    formatter: function(value, item, index) {
                        return $.table.selectDictLabel(datas, item.serviceState);
                    }
                },*/
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.serviceId + '\')"><i class="fa fa-edit"></i>修改</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.serviceId + '\')"><i class="fa fa-remove"></i>删除</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function add() {
        $.operate.add();//创建的url无需参数
    }

    function queryParams(params) {
        debugger;
        var search = $.table.queryParams(params);
        search.serviceId = $("#serviceId").val();
        return search;
    }

    function serviceParamConfig(serviceId) {
        debugger;
        //打开资费配置tab
        //$.operate.addTab();
        //openTab: function (title, url) {
        /*var pricePatternUrl = prefix + "/pricePattern";//pricePattern.html
        var title = "资费配置";
        $.operate.openTab(title, pricePatternUrl);*/
        /*var url = prefix + '/authRole/' + userId;///system/user/authRole/9  会去请求后台，然后打开authRole.html页面
        $.modal.openTab("操作员分配角色", url);*/

        var url = prefix + '/serviceProperty/'+serviceId;///system/user/authRole/9  会去请求后台，然后打开authRole.html页面
        $.modal.openTab("资费配置", url);
    }


    function resetPre() {
        $.form.reset();
    }
</script>
</body>

</html>
