<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增号段')" />
</head>

<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-segPattern-add">
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">号段名称：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="patternSegName" id="patternSegName" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">网号：</label>
            <div class="col-sm-8">
                <input id="netId" name="netId" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">表达式：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="segExp" id="segExp" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">资源类型：</label>
            <div class="col-sm-8">
                <div class="input-group" style="width: 100%">
                    <select id="resType" name="resType" class="form-control noselect2 selectpicker" th:with="type=${@SysService.getType('res_type')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">号段状态：</label>
            <div class="col-sm-8">
                <div class="radio-box" th:each="dict : ${@SysService.getType('sys_normal_disable')}">
                    <input type="radio" th:id="${dict.dictValue}" name="state" th:value="${dict.dictValue}" th:checked="${dict.dictValue}==1?1:0">
                    <label th:for="${dict.dictValue}" th:text="${dict.dictLabel}"></label>
                </div>
            </div>
        </div>

    </form>
</div>
<th:block th:include="include :: footer" />

<script>
    // $(function() {
    //     var url = ctx + "system/menu/roleMenuTreeData";
    //     var options = {
    //         id: "menuTrees",
    //         url: url,
    //         check: { enable: true },
    //         expandLevel: 0
    //     };
    //     $.tree.init(options);
    // });
    var prefix = ctx + "crm/res";

    $("#form-segPattern-add").validate({
        onkeyup: false,
        rules:{
            patternSegName:{
                remote: {
                    url: prefix + "/checkPatternSegNameUnique",
                    type: "post",
                    dataType: "json",
                    data: {
                        "patternSegName": function() {
                            return $.common.trim($("#patternSegName").val());
                        }
                    },
                    dataFilter: function(data, type) {
                        return $.validate.unique(data);
                    }
                }
            }
        },
        messages: {
            "patternSegName": {
                remote: "号段名称已经存在"
            },
            "netId": {
                remote: "网号已经存在"
            }
        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/addSegPattern", $('#form-segPattern-add').serialize());
        }
    }

    function add() {
        /*var patternSegName = $("input[name='patternSegName']").val();
        var netId = $("input[name='netId']").val();
        var segExp = $("select[name='segExp']").val();
        var resType = $("select[name='resType']").val();
        $.ajax({
            cache : true,
            type : "POST",
            url : ctx + "crm/res/addSegPattern",
            data : {
                "patternSegName": patternSegName,
                "netId": netId,
                "segExp": segExp,
                "resType":resType
            },
            async : false,
            error : function(request) {
                $.modal.alertError("系统错误");
            },
            success : function(data) {
                $.operate.successCallback(data);
            }
        });*/
    }
</script>
</body>
</html>
