<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('价格模式')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="data-form">
                <div class="select-list">
                    <ul>
                        <li>
                            资费名称：<input type="text" name="modeDesc"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="resetPre()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="add()" shiro:hasPermission="res:pricePattern:add">
                <i class="fa fa-plus"></i> 新增
            </a>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('res:pricePattern:edit')}]];
    var removeFlag = [[${@permission.hasPermi('res:pricePattern:remove')}]];
   // var numGenFlag = [[${@permission.hasPermi('res:segPattern:num_generate')}]];

    var datas = [[${@SysService.getType('res_pattern_segment_state')}]];
    var prefix = ctx + "crm/res";
   // var resType=[[${@SysService.getType('res_type')}]];

    $(function () {
        var options = {
            url: prefix + "/listPricePattern",
            createUrl: prefix + "/addPricePattern",
            updateUrl: prefix + "/editPricePattern/{id}",
            removeUrl: prefix + "/removePricePattern/{id}",
            //exportUrl: prefix + "/export",
            //importUrl: prefix + "/importData",
            //importTemplateUrl: prefix + "/importTemplate",
            // queryParams: queryParams,
            sortName: "resSpecId",
            sortOrder: "desc",
            modalName: "资费",
            columns: [{
                checkbox: true
            },
                {
                    field: 'resSpecId',
                    title: '编号'
                },
                {
                    field: 'modeDesc',
                    title: '资费名称'
                },
                {
                    field: 'reserveFee',
                    title: '预存话费'
                },
                {
                    field: 'orderFee',
                    title: '预定费'
                },
                {
                    field: 'orderDays',
                    title: '可预定天数'
                },
                {
                    field: 'points',
                    title: '月保底金额'
                },
                {
                    field: 'effectiveDate',
                    title: '生效时间',
                    visible: false
                },
                {
                    field: 'expireDate',
                    title: '失效时间',
                    visible: false
                },
                /*{
                    field: 'resType',
                    title: '资源类型',
                    formatter:function (value,row,index) {
                        return $.table.selectDictLabel(resType,value);
                    }
                },*/
                /*{
                 field: 'state',
                 title: '状态',
                 formatter: function (value, row, index) {
                 //res_pattern_segment_state
                 return value === '1' ? '有效' : '无效';
                 }
                 },*/
                {
                    visible: editFlag == 'hidden' ? false : true,
                    title: '状态',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return statusTools(row);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.resSpecId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.resSpecId + '\')"><i class="fa fa-remove"></i>删除</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });


    /* 号段模式状态显示 */
    function statusTools(row) {
        if (row.state == 0) {
            return '<i class=\"fa fa-toggle-off text-info fa-2x\" onclick="enable(\'' + row.resSpecId + '\')"></i> ';
        } else {
            return '<i class=\"fa fa-toggle-on text-info fa-2x\" onclick="disable(\'' + row.resSpecId + '\')"></i> ';
        }
    }

    /* 号段模式状态管理-停用 */
    function disable(resSpecId) {
        $.modal.confirm("确认要停用资费模式吗？", function() {
            $.operate.post(prefix + "/changeStatus", { "resSpecId": resSpecId, "state": 0 });
        })
    }

    /* 号段模式状态管理启用 */
    function enable(resSpecId) {
        $.modal.confirm("确认要启用资费模式吗？", function() {
            $.operate.post(prefix + "/changeStatus", { "resSpecId": resSpecId, "state": 1 });
        })
    }

    function add() {
        /*var dictType = $("#dictType option:selected").val();
         alert(dictType);
         $.operate.add(dictType);*/
        $.operate.add("");//创建的url无需参数
    }



    function generateNumBySegPattern(patternSegId) {
        debugger;
        //var patternSegId = $("input[name='patternSegId']").val();
        $.ajax({
            cache: true,
            type: "GET",
            url: prefix + "/generateNumBySegPattern/"+patternSegId,
            data: {
                //"recId": patternSegId
            },
            async: true,
            error: function (request) {
                $.modal.alertError("系统错误");
            },
            success: function (data) {
                $.operate.successCallback(data);
            }
        });
    }


    function resetPre() {
        $.form.reset();
    }
</script>
</body>

</html>
